################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/etomic_website/video.mp4
