################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/etomic_website/video.mp4
/etomic_website/.vs
/etomic_website/.vs/etomic_website
/etomic_website/.vs/etomic_website/FileContentIndex
/etomic_website/.vs/etomic_website/FileContentIndex/340ca3fb-d395-44ff-9238-12bdc90e158d.vsidx
/etomic_website/.vs/etomic_website/v17
/etomic_website/.vs/etomic_website/v17/.wsuo
/etomic_website/.vs/etomic_website/v17/DocumentLayout.backup.json
/etomic_website/.vs/etomic_website/v17/DocumentLayout.json
/etomic_website/.vs/slnx.sqlite
/etomic_website/.vs/VSWorkspaceState.json
